.body{
	margin: 0;
	padding: 0;
	
}
.banner{
	background: url(../images/psl.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}
}
header{
	padding: 5px 30px 0px;
	background-color: rgba(255,255,255,0.6);
}
.hat{
	float: left;
	display: inline-block;
}
.title-color{
	text-transform: uppercase;
	color: #339AF0;
}
.search-my{
	margin-top: 5px;
	float: right;
	border: 3px #000 solid;
	background-color: transparent;
}
.search1{
	border: none;
	background-color: transparent;
	width: 150px;
}
.btn1{
	color: #fff;
	background-color: #000;
	border: none;
	height: 40px;
	width: 40px;
}
.nav1{
	background-color: ;
}
.navbar{
	padding: 0px;
}
.navbar-nav li{
	z-index: 1;
}
.navbar-nav li a{
	font-size: 17px;
	padding: 15px 70px !important;
}
.navbar-nav li a:hover{
	border-right: 3px solid #CC080A;
	border-left: 3px solid #FAEE00;
	transition: 0.5s all;
}
.navbar-light .navbar-nav .nav-link{
	color: #000;
}
.login{
	-webkit-box-shadow: 6px 9px 5px 1px rgba(8,8,8,1);
	-moz-box-shadow: 6px 9px 5px 1px rgba(8,8,8,1);
	box-shadow: 6px 9px 5px 1px rgba(8,8,8,1);
	padding:40px 20px;
	margin-top: 60px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 5px;
}
@media(max-width: 1200px){
	.navbar-nav li{
		font-size: 15px;
}
}
@media(max-width: 992px){
	.navbar-toggler{
		margin: 10px 0px 10px 10px;
		background-color: #fff;
	}
	.navbar-toggler:hover{
		background-color: #CC7C17;
		border-color: #339AF0;

	}
	.navbar-light{
		background-color:  #fff;
	}
	.navbar-nav li a{
		text-align: center;
		background-color: aliceblue;
	}
	.navbar-nav li a:hover{
		background-color: #CC7C17;
	}


